.show {
    display: flex;
}

.hide {
    display: none;
}

.fade {
    opacity: 0;
}

.no-scroll {
    overflow: hidden;
}

.rotate {
    transform: rotate(-90deg);
    transition: 0.5s;
}

.disable {
    pointer-events: none;
    cursor: default;
}

.to-left {
    animation: left 0.5s ease-in-out infinite;
}

.to-right {
    animation: right 0.5s ease-in-out infinite;
}

@keyframes left {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(-108rem, 0);
    }
}

@keyframes right {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(108rem, 0);
    }
}

@media screen and (max-width: $breakpoint-desktop) {
    @keyframes left {
        from {
            transform: translate(0, 0);
        }
        to {
            transform: translate(-62rem, 0);
        }
    }
    @keyframes right {
        from {
            transform: translate(0, 0);
        }
        to {
            transform: translate(62rem, 0);
        }
    }
}

@media screen and (max-width: $breakpoint-tablet) {
    @keyframes left {
        from {
            transform: translate(0, 0);
        }
        to {
            transform: translate(-31rem, 0);
        }
    }
    @keyframes right {
        from {
            transform: translate(0, 0);
        }
        to {
            transform: translate(31rem, 0);
        }
    }
}