/*!**********************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/global.scss ***!
  \**********************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);
/*!********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/module/app/index.scss ***!
  \********************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);
/*!**************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/global.scss (1) ***!
  \**************************************************************************************************************/
.wrapper {
  font: normal 300 14px/19px "Roboto";
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 10px; }

/*!************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/module/app/index.scss (1) ***!
  \************************************************************************************************************************/
.wrapper {
  font: normal 300 14px/19px "Roboto";
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 10px; }

.car-roots {
  display: flex;
  flex-direction: column;
  gap: 20px; }
  .car-roots .car-root-wrapper {
    display: flex;
    gap: 8px;
    width: 100%;
    flex-direction: column; }
    .car-roots .car-root-wrapper .car-root-head {
      display: flex;
      justify-content: space-between; }
    .car-roots .car-root-wrapper .car-root-content {
      display: flex; }
      .car-roots .car-root-wrapper .car-root-content .car-root-control {
        display: flex;
        flex-direction: column; }
      .car-roots .car-root-wrapper .car-root-content .car-root {
        position: relative;
        display: flex;
        width: 100%;
        height: 36px;
        box-shadow: 0px 4px 0px #000000; }
        .car-roots .car-root-wrapper .car-root-content .car-root svg {
          position: absolute; }

.winners-control {
  display: flex;
  flex-direction: column; }
  .winners-control table {
    width: 100%; }
    .winners-control table tr th {
      text-align: left; }
    .winners-control table tr td.winner-id {
      width: 40px; }

.winner-board {
  display: flex;
  background-color: #e8e8e8; }

.author-info {
  font: normal 300 10px/19px "Roboto";
  display: flex;
  bottom: 0;
  justify-content: space-between; }

