<div class="header">
<div class="logo"></div>
    <nav class="navigation">
        <ul>
            <li data-i18="menuItem1">barrette</li>
            <li data-i18="menuItem2">rings</li>
            <li data-i18="menuItem3">brooch</li>
            <li data-i18="menuItem4">collections</li>
            <template>language-switcher</template>
            <li class="button dox-icon"></li>
            <li class="search-icon"></li>
            <li class="account-icon">
                <div class="product-counter hide">12</div>
            </li>
        </ul>
    </nav>
</div>

