<div class="footer">
    <div class="footer-links-main">
        <ul>
            <li data-i18="footerItem1">Our Care Guide</li>
            <li data-i18="footerItem2">About US</li>
            <li data-i18="footerItem3">Do X Jewerly</li>
            <template>language-switcher</template>
        </ul>
    </div>
    <div class="footer-links-additional">
        <ul>
            <li>Facebook</li>
            <li class="instagram">Instagram</li>
            <li>Snapchat</li>
        </ul>
    </div>
</div>